:root {
    --pink1: #f9a7ba;
    --pink2: #f65686;
    --backgroundBlue: #13A9ce;
    --tan1: #CEA14D;
    --tan2: #E0DE95;
    --darkOlive: #415c44;
    --lightOlive: #769E69;
    --skyBlue: #1A88B3;
    --cloudyWhite: #BCCAC3;
    --seafoam: #36B374;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--cloudyWhite);
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: var(--skyBlue);
    margin: 0;
    padding-top: 10px;
}

header div h1 {
    display: inline;
    color: var(--skyBlue);
    background-color: var(--pink2);
    padding-left: 24px;
    padding-right: 10px;
    width: 30%;
    margin: 0;
}

h2 {
    color: var(--skyBlue);
    width: 240px;
    text-align: center;
}

header div nav {
    display: inline;
    text-align: right;
    align-content: right;
    width: 100%;
}

ul {
    background-color: var(--skyBlue);
    text-align: right;
}

li {
    color: var(--pink2);
    background-color: var(--skyblue);
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 10px;
    padding-right: 30px;
}

main {  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
}

p {
    color: var(--darkOlive);
} 

ul li div{
    display: inline;
}

a {
   border-bottom: 5px solid var(darkOlive);
   text-align: right; 
}

 a:visited, li a { 
    color: inherit;
}

main div img {
    border: 5px solid var(--tan1);
    filter: grayscale(70%);
}

img {
    max-width: 100%;
    /* height: auto; */
}

main div img:hover {
    border: 5px inset var(--tan2);
    padding: 0;
    filter: none;
}

.sub-head {
    background-color: var(--backgroundBlue);
    margin: 0;
    padding: 0;
    align-content: flex-end;
}
/* images are overflowing this grid container */
.main-grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 75% 10%;
    grid-template-areas:
        'aboutMeHeader aboutMeContent'
        'workHeader workContent'
        'contactMeHeader contactMeContent';
    margin-right: 10px;
    padding: 0;
}

.aboutMeHeader {
   grid-area: aboutMeHeader;
   text-align: right;
   align-self: auto;
   border-right: 5px solid var(--darkOlive);
   /* margin: 10% 3%; */
   padding-top: 10px;
   margin: 10px 5px;
   height: auto;
}

.aboutMeContent {
    grid-area: aboutMeContent;
    padding-left: 3%;
    margin: 3%;
}

.workHeader {
    grid-area: workHeader;
    max-height:100%;
    text-align: right;
    align-self: auto;
    border-right: 5px solid var(--darkOlive);
    margin: 10px 5px;
    height: auto;
}

.workContent {
    grid-area: workContent;
    align-self: auto;
    /* padding: 1%; */
    /* margin: 3%; */
    height: 100%;
    width: 100%
}

.work-content-size {
    height: 100%;
    width: 100;
}

.work-content-container {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
        'image-lead image-lead'
        'image-lead image-lead'
        'image-minor1 image-minor2'
        'image-minor3 image-minor4';
    width: auto;
    height: auto;
    padding-bottom: 12px;
    margin-right: 15px;
}

.workBoxes {
    padding: 2% 4%;
    max-width: auto;
    height: auto;
    margin-top: 15px;
    /* add margin */
}

.contactMeHeader {
    grid-area: contactMeHeader;
    height:auto;
    text-align: right;
    align-self: center;
    border-right: 5px solid var(--darkOlive);
    margin: 10px 5px;
}

.contactMeContent {
    grid-area: contactMeContent;
    height: auto;
    align-self: center;
    margin: 10px 5px;
    font-weight: 900;
    color: var(--darkOlive);
}

#subtitle {
    background-color: var(--pink2);
}

#body-header {
    color: var(--darkOlive);
    background-color: var(--cloudyWhite);
    padding-right: 3%;
}

#image-lead {
   grid-area: image-lead;
   margin-top: 10px;
   padding: 0% 2%;
   width: auto;
   height: auto;
}

#image-minor1 {
    grid-area: image-minor1;
}

#image-minor2 {
    grid-area: image-minor2;
}

#image-minor3 {
    grid-area: image-minor3;
}

#image-minor4 {
    grid-area: image-minor4;
}

.contactMeContentList {
    padding-right: none;
    color: var(--darkOlive);
    border-bottom: 5px solid var(darkOlive);
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 965px) {
    p {
        font-size: 12px;
    }
}

@media (max-width: 630px) {
    main div h1 {
        font-size:medium;   
    }
    
    p {
        font-size: 9px;
        margin-top: 0px;
        padding-left: none;
    }

    .contactMeContent {
        font-size: x-small;
    }

    .aboutMeHeader {
        margin-right: 5px;
    }

    .aboutMeContent {
        padding: 0;
    }
    
    .workBoxes {
        margin-top: 0;
    }
}