:root {
    --pink1: #f9a7ba;
    --pink2: #f65686;
    --backgroundBlue: #13A9ce;
    --tan1: #CEA14D;
    --tan2: #E0DE95;
    --darkOlive: #415c44;
    --lightOlive: #769E69;
    --skyBlue: #1A88B3;
    --cloudyWhite: #BCCAC3;
    --seafoam: #36B374;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--cloudyWhite);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--skyBlue);
    margin: 0;
    padding: 0;
}

header div h1 {
    display: inline;
    color: var(--skyBlue);
    background-color: var(--pink2);
    padding-left: 4%;
    padding-right: 1%;
    width: 30%;
    margin: 0;
}

h2 {
    color: var(--skyBlue);
    background-color: var(--pink2);
}

header div nav {
    display: inline;
    text-align: right;
    align-content: right;
    width: 100%;
}

ul {
    background-color: var(--skyBlue);
    text-align: right;
}

li {
    color: var(--pink2);
    background-color: var(--skyblue);
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
}

main h1 {
    border-right: 5px solid var(--darkOlive);
}

p {
    color: var(--darkOlive);
}

h2 {
    background-color: var(--skyblue);
}   

ul li div{
    display: inline;
}

a {
   border-bottom: 5px solid var(darkOlive);
   text-align: right; 
}

a:visited {
    color: inherit;
}

main div img {
    border: 5px solid var(--tan1);
    filter: grayscale(75%);
}

img {
    max-width: 100%;
    height: auto;
}

main div img:hover {
    border: 5px inset var(--tan2);
    padding: 0;
    filter: none;
}

.sub-head {
    background-color: var(--skyBlue);
    text-align: right;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    height:100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 65% 10%;
    grid-template-areas:
        "aboutMeHeader aboutMeContent"
        "workHeader workContent"
        "contactMeHeader contactMeContent";
    margin: 0;
    padding: 0;
}

.aboutMeHeader {
   grid-area: aboutMeHeader;
   text-align: right;
   align-self: start;
   /* border-right: 5px solid var(--darkOlive); */
   margin: 10% 3%;
   height: 100%;
}

.aboutMeContent {
    grid-area: aboutMeContent;
    padding-left: 3%;
    margin: 3%;
}

.workHeader {
    grid-area: workHeader;
    height:100%;
    text-align: right;
    align-self: start;
    /* border-right: 5px solid var(--darkOlive); */
    margin: 10% 3%;
}

.workContent {
    grid-area: workContent;
    align-self: start;
    padding-left: 3%;
    margin: 3%;
    max-height: 100%;
}

.image-container {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
        "image-lead image-lead"
        "image-lead image-lead"
        "image-minor1 image-minor2"
        "image-minor3 image-minor4";
        min-width: 0;
}

.contactMeHeader {
    grid-area: contactMeHeader;
    height:100%;
    text-align: right;
    align-content: center;
    /* border-right: 5px solid var(--darkOlive); */
    margin: 10% 3%;
}

.contactMeContent {
    grid-area: contactMeContent;
    height: 100%;
    align-self: center;
    padding-left: 3%;
    margin-top: 10%
}

#subtitle {
    background-color: var(--pink2);
}

#body-header {
    color: var(--darkOlive);
    background-color: var(--cloudyWhite);
    padding-right: 3%;
}

#image-lead {
   grid-area: image-lead;
   margin: 1%;
   max-width: 100%;
   height: auto;
   min-width: 0;
}

#image-minor1 {
    grid-area: image-minor1;
    margin: 2%;
    max-width: 100%;
   height: auto;
}

#image-minor2 {
    grid-area: image-minor2;
    margin: 2%;
    max-width: 100%;
   height: auto;
}

#image-minor3 {
    grid-area: image-minor3;
    margin: 2%;
    max-width: 100%;
   height: auto;
}

#image-minor4 {
    grid-area: image-minor4;
    margin: 2%;
    max-width: 100%;
   height: auto;
}

#contactMeContentUl {
    background-color: var(--cloudyWhite);
    border-bottom: 5px solid var(darkOlive);
    text-align: center;
}

#contactMeContentList {
    display: inline;
    color: var(--darkOlive);
    border-bottom: 5px solid var(darkOlive);
    margin-left: 50px;
    margin-right: 50px;
}